#readMore,
#readLess {
    border: 0;
    background-color: transparent;
    font-weight: bold;
}

figure {
    text-align: center;
    width: 100%;

    img {
        width: 100%;

    }
}

.card {
    width: 350px;
    margin: 25px 50px;
}